*{
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: var(--text);
}

:root{
  /* COLOR */
  --border-stage: #00ff9562;
  --background: #030b0e;
  --background-stage: #1a2422;
  --border-text: #00ff95e7;
  --text: #faebd7;
}
body{
  background: var(--background) ;
  box-sizing: border-box;
  user-select: none;
}

.content.newgame {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.newgame button{
  background: none;
  border: none;
  font-size: .8rem;
}

.placar{
  background: var(--background-stage);
  border: solid var(--border-stage);
  border-radius: 1rem;

  width: 70vw;
  height: 42vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 1.5rem;
  margin: 2rem auto;
}

.placar .content,
.sets-group{
  display: flex;
  padding: .5rem;
}

.metade {
  border: ridge var(--border-text);
  width: 30vw;
  padding: 0.5rem;
  text-align: center;
  margin: 0 0.4rem;

  font-size: .8rem;
}

#pontuacaoA, 
#pontuacaoB{
  padding: 2.5rem 0.5rem;
  font-size: 3rem;
}

.sets{
  display: flex;
  font-size: .8rem;
}

/* TABLET */
@media only screen and (min-width: 768px){
  .newgame button{
    font-size: 1rem;
  }

  .placar{
    width: 64vw;
  }

  .sets{
    font-size: 1rem;
  }
}

/* DESKTOP */
@media only screen and (min-width: 992px){
  .newgame .metade,
  .score-a,
  .score-b{
    transition: .4s;
  }
  
  .newgame .metade:hover,
  .score-a:hover,
  .score-b:hover{
    background: var(--border-stage);
    filter: brightness(1.5);
  }

  .newgame button{
    cursor: pointer;
    font-size: 1.2rem;
  }

  .placar{
    width: 72vw;
    height: 56vh;
  }

  .metade{
    width: 32vw;
    margin: 0 .8rem;
    font-size: 1rem;
  }

  .sets{
    display: flex;
    font-size: 1.1rem
  }

  #pontuacaoA,
  #pontuacaoB{
    padding: 6rem .5rem;
    font-size: 5rem;
    cursor: pointer;
  }
}
